.juego-card {
    max-width: 280px;
    margin: 10px;
}

.juego-header-image {
    background-image: url('http://via.placeholder.com/50x50?text=thumb');
    background-size: cover;
}

.juego-header {
    padding-top: 6%; 
}

.mat-card-header{
    padding-bottom: 10px;
}

.noData {
    text-align: center;
    padding: 10px;
    color: #673ab7;
}

.search-input {
    width: 100%;
}